################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BEERAPI/.vs/BEERAPI/CopilotIndices/18.3.511.5503/CodeChunks.db
/BEERAPI/.vs/BEERAPI/CopilotIndices/18.3.511.5503
/BEERAPI/.vs/BEERAPI
/.vs/BEER-MANAGER/v17
/BEERAPI/bin/Debug/net8.0
/BEERAPI/obj
/BEERAPI/.vs/ProjectEvaluation
