<header class="main-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 d-flex align-items-center">
         <button class="toggle-btn d-flex d-xxl-none" (click)="toggleSidebar.emit()">
      ☰
    </button>
        <div class="logo-wrapper">
          <div class="logo-main">
            <span class="q">Q</span>
            <span class="h">H</span>
            <div class="orbit"></div>
          </div>
          <div class="logo-sub">QUANG HA</div>
        </div>
      </div>
      <div class="col-4 py-3 px-4 align-items-center d-flex justify-content-end">
       <button cButton class="fs-11" color="secondary" (click)="onLogin()" *ngIf="!userLogged.isLogged()">Đăng nhập</button>
        <button cButton class="fs-11" color="secondary" (click)="userLogged.logout()" *ngIf="userLogged.isLogged()">Đăng xuất</button>
      </div>
    </div>
  </div>
</header>
<app-login></app-login>