.modal-backdrop{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;

  background: rgba(0,0,0,0.4);

  display:flex;
  justify-content:center;
  align-items:center;
}

.modal-container{
  width:400px;
  background:white;
  border-radius:10px;
  padding:20px;
}

.modal-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.modal-body{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top:10px;
}

.modal-body input,
.modal-body select{
  padding:8px;
  border:1px solid #ddd;
  border-radius:6px;
}

.modal-footer{
  margin-top:15px;
  display:flex;
  justify-content:flex-end;
  gap:10px;
}

.btn-save{
  background:#ff6b00;
  color:white;
  border:none;
  padding:8px 15px;
  border-radius:6px;
}

.btn-cancel{
  background:#ccc;
  border:none;
  padding:8px 15px;
  border-radius:6px;
}

.close-btn{
  cursor:pointer;
}