.food-card {
  cursor: pointer;
  transition: 0.2s;
}

.food-card:hover {
  transform: scale(1.05);
  background: #f8f9fa;
}
.order-list {
  max-height: 400px;
  overflow-y: auto;
}

.order-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.food-name {
  flex: 1;
  min-width: 140px;
  font-weight: 600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-price {
  width: 90px;
}

.qty-control {
  width: 130px;
}
.qty-input {
  width: 55px;
  text-align: center;
}
.food-total {
  width: 110px;
  text-align: right;
  font-weight: 600;
}
.food-img{
  height:120px;
  object-fit:cover;
}
@media (max-width: 992px) {
  .food-name {
    min-width: 75px;
    font-size: 14px;
  }
  .food-price {
    width: 80px;
    font-size: 14px;
  }
  .qty-control {
    width: 110px;
  }
  .qty-input {
    width: 45px;
  }
  .food-total {
    width: 100px;
    font-size: 14px;
  }
}
c-modal {
  height: 100vh;
}

c-modal-body {
  height: calc(100vh - 220px);
  overflow-y: auto;
}

.order-list {
  max-height: 80vh;
  overflow-y: auto;
}
c-modal-footer{
    background-color: white;
}