.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #eef2ff,
    #dbeafe,
    #f8fafc
  );
}

.auth-container {
  display: flex;
  width: 900px;
  max-width: 95%;
  min-height: 520px;

  border-radius: 20px;
  overflow: hidden;

  background: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
}

/* LEFT SIDE */

.auth-left {
  flex: 1;
  background: linear-gradient(
    135deg,
    #4f46e5,
    #6366f1
  );

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.brand-box h2 {
  font-size: 32px;
  font-weight: 600;
}

.brand-box p {
  opacity: 0.9;
  margin-top: 10px;
}

/* RIGHT SIDE */

.auth-right {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 320px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.google-btn {
  width: 100%;
  padding: 12px;

  border-radius: 10px;
  border: 1px solid #ddd;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  background: white;

  transition: 0.2s;
}

.google-btn:hover {
  background: #f9fafb;
}

.google-btn img {
  width: 20px;
}

/* divider */

.divider {
  text-align: center;
  margin: 18px 0;
  position: relative;
}

.divider span {
  background: white;
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.divider::before {
  content: "";
  height: 1px;
  width: 100%;
  background: #eee;

  position: absolute;
  top: 50%;
  left: 0;
}

/* input */

form label {
  font-size: 14px;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 10px;

  border-radius: 8px;
  border: 1px solid #ddd;

  margin-top: 6px;
  margin-bottom: 12px;
}

/* button */

.signup-btn {
  width: 100%;
  padding: 12px;

  border-radius: 10px;
  border: none;

  background: #4f46e5;
  color: white;

  font-weight: 500;

  transition: 0.2s;
}

.signup-btn:hover {
  background: #4338ca;
}

/* MOBILE RESPONSIVE */

@media (max-width: 768px) {

  .auth-container {
    flex-direction: column;
  }

  .auth-left {
    display: none;
  }

}